#container{
    border: 10px solid rgb(21, 48, 202);
    width: 60%;
    height: 100vh;
    margin: auto;
}
h1{
    color: rgb(21, 48, 202);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(21, 48, 202);
}
#address{
    text-align: center;
}
h2{
    background-color: rgb(21, 48, 202);
    color: white;
    width: 97%;
    margin-left: 10px;
}
#objective{
    margin-left: 10px;
}